/********** Global **********/
:root{
    /* App colours */
    --color-primary: ;
    --color-primary-variant: ;
    --color-accent: var(--color-lavendar);
    --color-accent-variant: var(--color-lavendar-variant);
    --color-text: var(--color-black);
    --color-bgd: var(--color-white);

    /* Colours */
    --color-white: #F2F2F2;
    --color-lavendar: #AD9DCC;
    --color-lavendar-variant: #d3c3f2;
    --color-black: #413B4D;    

    /* sizes */
    --size-max-width: 1000px;
    --size-tablet-width: 767px;
    --size-mobile-width: 480px;
}
*{
    box-sizing: border-box;
}
body{
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--color-bgd);
}

h1, h2, h3, h4, ul, p{
    margin: 0
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--color-black);
}
a, button{
    cursor: pointer;
}
main{
    padding: 0 15rem;
    width: 100%;
}
section{
    margin: 5rem auto;
}

/********** Header **********/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: .5rem 2rem; */
}
.logo{
    font-size: 2.5rem;
    width: 15%;
}
.navigation{
    width: 100%;

}
.nav_ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 4rem;
}
.nav_li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* height: 100%; */
}
.nav_li:hover{
    border: solid 4px var(--color-accent-variant);
    border-radius: .2rem;
}
.nav_li a:focus{
    color: var(--color-accent-variant);
}
/********** Home **********/
#home{
    height: 100vh;
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: space-around;

}
.home_des{
    width: 50%;
    /* transform: translateY(50%); */
}
.home_des_h1{

}
.home_des_des{

}
.home_img{
    max-width: 30rem;

}
.home_img_img{
    width: 100%;
}
/********** About **********/
.about{
    display: flex;
    justify-content: space-between;
}
.about_des{
    width: 50%;
}
.about_des p{
    font-size: 1.3rem;
    padding: .7rem 1rem .7rem 0;
}
.about_skills{
    width: 50%;
    padding: .7rem 0 .7rem 1rem;
}

.skill{
    display: inline-block;
    text-align: center;
}
.skill_img{
    width: 6rem;
    height: 6rem;
}
.skill_name{
    font-size: 1.5rem;
    text-align: center;
}
/********** Works **********/

/********** Footer **********/
